 body {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
     background-color: #f5f5f5;
     margin: 0;
 }
* {
    padding: 0;
    /* margin: 0; */
    box-sizing: border-box;
}
.header{
    height: 300px;
    background-image: linear-gradient(to right , rgba(0,0,0,0.2), rgba(0,0,0,0.2) ), url("../images/head.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 25px;
    border-radius: 15px;}
.header .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    gap: 30px;
}
.header .container h1{
    font-size: 55px;
    color: #fff;
    font-weight: bolder;
    margin: 0;
}
.header .container p{
    color: #fff;
    font-size: 25px;
    max-width: 450px;
    font-weight: 600;
    margin: 0;
}

.view-products{
    text-decoration: none;
    outline: 0;
    color: #fff;
    background-color: #2ecc71;
    padding:15px 17px ;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    transition: background-color 0.3s linear;
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;

}
.view-products:hover{
background-color: #242323;
}
.category{
    padding: 40px 0 ;
    background-color: #eee;

}
.category-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
}
.featured-products-heading,.category-heading{
    font-size: 40px;
    font-weight: 700;
    color: #687181;
    margin: 20px 0;
    text-transform: capitalize;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;
}
/* .category .container{

} */
.category-card{
background-color: #fff;
box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
padding: 15px 20px;
border-radius: 12px;
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
flex-direction: column;
transition: transform 0.2s linear;

}
.category-card img{
    width: 100%;
    height: 200px;
    border-radius: 12px;
}
.category-card:hover{
    transform: scale(1.05);
}
.category-card h3{
   font-size: 24px;
   color: #687181;
}

.category-card h3:hover{
    color: #4a505c;
}
.featured-products{
    padding: 40px 0;
    background-color: #fff;
    margin-top:20px ;
        box-shadow: 0 1000px 3px rgba(0, 0, 0, 0.1);
        

}
.featured-products-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
}
.featured-products-container .product-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 1px #000;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s linear;
}
.product-card:hover{
transform: translateY(-12px);

}
.product-card img{
width:100%;
height: 200px;
transition: transform 0.3s linear;
}
.product-card:hover.product-card img{
    transform: scale(1.1)
}
.product-card .product-card-text{
display: flex;
gap: 10px;
flex-direction: column;
padding: 10px 30px;
}
.product-card .category-name{
font-weight: 500;
font-size: 16px;
background-color: rgb(239 246 255);
padding: 5px 10px;
border-radius:12px ;
width: fit-content;
color: #000;
}
.product-card .product-name{
    font-weight: 800;
    font-size: 20px;
    text-transform: capitalize;
    height: 30px;
}
.product-card .product-price{
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
    color: #000000;
    
}
footer{
    padding: 40px;
    background-color: #242323;
}
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.footer-text p:nth-child(1){
    color: #fff;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 600;
}

.footer-text p:nth-child(2){
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.footer-text .view-products:hover{
    background-color: #000;
}
