 body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
   background-color: #f5f5f5;
   margin: 0;
 }
*{
  box-sizing: border-box;
}





.page {
  width: 600px;
  height: 450px;
  background-color: #F9F8F6;
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
  margin:80px auto;
}
.login-box{
  width: 100%;
}
form{
  width:100%;
}

.login-box h1 {
  margin: 0;
  color: #2ecc71;
  text-align: center;
}

.login-box p {
  margin-bottom: 25px;
  color: #000000;
  text-align: center;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;
  padding: 15px 12px;
  margin-bottom: 15px;
  border: 1px solid #aaa;
  border-radius: 8px;
}
#emailError {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}
#passwordError {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}
.login-box input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #2ecc71; 
  color: #ffffff;
  border: 1px solid #aaa;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;

}

.login-box input[type="submit"]:hover {
  background-color: #000000; 
  border-color: #000000;
  color: #ffffff;
}


.signup {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  
}

.signup a {
  color: #2ecc71;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.signup a:hover {
  color: #000000;
}
#loginError{
   color:red; 
   font-size:12px; 
   margin-bottom:10px;
}