ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

nav {
    background-color: #fff;
    padding: 12px 0;
    box-shadow: 1px 1px 6px 1px #687181;
    
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 30px;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo span {
    font-size: 26px;
    background-color: #6fe5a0;
    color: #fff;
    padding: 2px 10px;
    border-radius: 12px;
    margin-right: 10px;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.nav-list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-list li a {
    color: #687181;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.3s linear;
   }

.nav-list li:hover a {
    color: #6fe5a0;
}

.cart-box {
    position: relative;
}

.cart-icon i,.wishlist-icon i {
    font-size: 26px;
    margin-left: 10px;
}

.cart-icon ,.wishlist-icon{
    transition: transform 0.4s linear;

}

.cart-icon:hover ,.wishlist-icon:hover {
    transform: scale(1.09);
}

.cart-counter {
    position: absolute;
    /* top: 0; */
    bottom: 10px;
    color: #000;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;

}
