 body {
   font-family: -apple-system, 'Segoe UI', sans-serif;
   background-color: #f5f5f5;
   margin: 0;
 }

#card {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 430px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 12px #aaaaaa;
  box-sizing: border-box;
}
#card img {
  /* width: 85%; */
  /* height: 180px; */
  object-fit: cover;
}
#card span {
  background: rgb(239 246 255);;
  color: #000000;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 13px;
  margin: 6px 0;
  display: inline-block;
}
#card h2 {
  margin: 10px 0;
  min-height: 50px;
}
h3 {
  /* color: #4caf50; */

  /* margin: 20px auto 40px 60px; */
  height: 20px;
  
}
#card p {
  flex-grow: 1;
  font-weight: bold;
  margin: 15px 0;
  font-size: 22px;
  color: brown;
}

#container {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#details {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: 90%;
}
#details:hover {
  background-color: #45a049;
}
#searchInput {
  width: 600px;
  padding: 10px;
  margin: 20px auto;
  display: block;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-color: #1e1d1d;
  outline: none;
  box-shadow: 0 0 8px #121312;
}
#card:hover {
  box-shadow: 4px 4px 16px #888888;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}
