 body {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
     background-color: #f5f5f5;
     margin: 0px;
 }
 .container1 {
     max-width: 1100px;
     margin: 40px auto;
     background: #fff;
     padding: 30px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 40px;
 }

 .main-img {
     width: 100%;
     border-radius: 10px;
 }
 .PImg{
    width: 500px;
 }
 h1 {
     margin-top: 0;
 }
 #price {
     font-size: 28px;
     font-weight: bold;
     margin: 10px 0 20px;
 }
 .section-title {
     font-weight: bold;
     margin-top: 20px;
 }

 .buttons {
     display: flex;
     gap: 15px;
     margin: 25px 0;
 }

 .btn-primary,
 .btn-outline {
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
     font-size: 16px;
     cursor: pointer;
 }

 .btn-primary {
     flex: 1;
     background: #2ecc71;
     color: #fff;
     border: none;
     padding: 0 20px;
      font-weight: bold;

 }

 .btn-outline {
     background: #fff;
     border: 1px solid #ccc;
     padding: 0 20px;
     text-decoration: none;
     color: #000;
     display: inline-flex;
    font-weight: bold;

 }
 .details {
     margin-top: 30px;
     border-top: 1px solid #eee;
     padding-top: 20px;
 }
 .details div {
     display: flex;
     justify-content: space-between;
     margin: 8px 0;
 }
.quantity{
    min-width: 32px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: white;
}
.quantity-btn {
    width: 36px;
    height: 36px;
    border: none;
    background-color:#2ecc71;
    color: #fcfcfc;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#addCart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ecc71;
    color: white;
    border-radius: 10px;
    height: 50px;
    padding: 0 8px;
    cursor: pointer;
    font-size: large;
}
#qty1{
    font-size: larger;
    font-weight: bolder;
}



.heart:hover {
    transform: scale(1.2);
    opacity: 1;
}

