 body {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
     background-color: #f5f5f5;
     margin: 0;
 }

.sign-up-container {
    width: 600px;
    background-color: #F9F8F6;
    padding: 20px;
    margin: 40px auto;
    border: 1px solid #aaa;
    border-radius: 8px;
}

h2 {
    margin: 0;
    text-align: center;
    color: #2ecc71;
    font-size:xx-large
}
.sign-up-container p {
  margin-bottom: 25px;
  color: #000000;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #aaa;
    border-radius: 8px;
}
input[type="submit"] {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #2ecc71;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #aaa;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
input[type="submit"]:hover {
  background-color: #000000; 
  border-color: #000000;
}


.terms {
    margin-top: 10px;
    margin-bottom: 10px;

}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 15px;
    position: relative;
    left: 10px;
}
.log {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

.log a {
  color: #2ecc71;
  text-decoration: none;
  font-weight: bold;
  font-size: 18;
}